.details-top {
  margin-top: 3.8rem;
  align-items: center;
  background-color: #fd5294;
  display: flex;
  justify-content: space-around;
}

.details-top img {
  padding: 10% 0 10% 1%;
  width: 45%;
}

.details-top .des-writings {
  padding: 1rem;
}

.des-writings .offical-name {
  font-weight: 300;
  text-align: left;
}

.des-writings .name {
  font-weight: 800;
  text-align: left;
  margin-top: 0.4rem;
  padding: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.56) 1px 22px 70px 4px;
}

.des-writings .population {
  margin-top: 0.7rem;
  text-align: end;
  font-size: 0.8rem;
  font-weight: 200;
}

.des-writings .region {
  text-align: end;
  font-weight: 200;
}

.details-container .detail-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.details-container .detail-item:nth-child(2n) {
  background-color: #db4781;
}

.detail-item div {
  display: flex;
  gap: 0.4rem;
}

.detail-item p:nth-child(2),
.detail-item p:nth-child(3) {
  font-size: 0.7rem;
  font-weight: 200;
}

.detail-item div p:nth-child(1) {
  font-size: 0.9rem;
  font-weight: 200;
}

.detail-item a {
  text-decoration: none;
  margin: 0 auto;
  padding: 0.5em 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 1px 1px 2px 1px, rgba(60, 64, 67, 0.15) 1px 1px 3px 1px;
}

.detail-item a:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 1px 22px 70px 4px;
}
