header {
  background-color: #ec4c8a;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
}

header nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0.8rem;
}
