.header-div {
  margin-top: 3.8rem;
  align-items: center;
  background-color: #fd5294;
  display: flex;
  justify-content: space-around;
}

.world-map {
  padding: 10% 0 10% 1%;
  width: 45%;
}

.header-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
}

.header-search-container p:first-child {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
  line-height: 0.8rem;
  color: white;
}

.header-search-container .total-population {
  font-size: 0.6rem;
  font-weight: 200;
}

.search-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: xx-small;
  padding: 3%;
  width: 8rem;
}

.pop-text-div {
  background-color: #df4682;
  font-size: x-small;
  padding: 2%;
}
